In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import math
import re
import statsmodels.api as sm

from util.clean import rinse_listings

In [2]:
#Import Listings
df_seattle_list = pd.read_csv('input/seattle/listings.csv')
print(df_seattle_list.shape)
df_seattle_list.head(5)

(3818, 92)

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,...,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,...,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",...,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,...,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,...,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,...,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [3]:
#Import calendar.csv
df_seattle_cal = pd.read_csv('input/seattle/calendar.csv', parse_dates=[1])
print(df_seattle_cal.shape)
df_seattle_cal.head(5)

(1393570, 4)

   listing_id       date available   price
0      241032 2016-01-04         t  $85.00
1      241032 2016-01-05         t  $85.00
2      241032 2016-01-06         f     NaN
3      241032 2016-01-07         f     NaN
4      241032 2016-01-08         f     NaN

# First cleaning
Let's first do some initial cleaning based on the exploration we did in "exploration_listing.ipynb". It showed many columns that have all unique values (categorical or ordinal), or just 1 unique value. This will be removed below. Also, a selection of columns with text or not immediately interesting information is removed to reduce the clutter. At last columns with percentage, currency or boolean values are formatted to useful values. 

We are left with a dataframe that are not free for NaN values, but is possible to work with.

In [4]:
df_rinsed = rinse_listings(df_seattle_list)

Index(['id', 'listing_url', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url', 'latitude', 'longitude'],
      dtype='object')
Index(['listing_url', 'thumbnail_url', 'medium_url', 'picture_url',
       'xl_picture_url'],
      dtype='object')

,host_since,host_response_time,host_verifications,host_identity_verified,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,zipcode,property_type,room_type,bed_type,amenities,calendar_updated,first_review,last_review,cancellation_policy
count,3816,3295,3818,3816,3402,3818,3818,3811,3817,3818,3818,3818,3818,3191,3191,3818
unique,1380,4,116,2,81,87,17,28,16,3,5,3284,34,984,321,3
top,2013-08-30,within an hour,"['email', 'phone', 'facebook', 'reviews', 'kba']",True,Capitol Hill,Broadway,Other neighborhoods,98122,House,Entire home/apt,Real Bed,{},today,2015-09-21,2016-01-02,strict
freq,51,1692,595,2997,351,397,794,420,1733,2541,3657,45,706,25,94,1417